body{
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #252526;
}

#site-title{
    margin: 0;
    text-align: center;
    background-color: #333333;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 3em;
    color: #268acc;
}

a {
    text-decoration: none;
    color: #9cdcfe;
}

a:visited {
    color: #9cdcfe;
}

.posts-container{    
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #1e1e1e;

    font-size: 1.25em;
    margin: 5vh 10vw;
    padding: 5vh 5vw;
}

#posts-title{
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    padding: 0;
    margin-top: 1vh;
    margin-bottom: 0;
    color: #dbb563;
}

.entry-title {
    color: #9cdcfe;
}

.date{
    color: #c98e61;
}